/* Reset margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: 'Arial', sans-serif;
}

/* Center the login-container div in the middle of the screen */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-title {
  color: #333;
  margin-bottom: 2rem;
}

.login-form {
  width: 100%;
  max-width: 320px;
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.login-input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

/* Style for username and password input fields with icons */
.username-input,
.password-input {
    background-repeat: no-repeat;
  background-position: 8px center;
  padding-left: 2.5rem;
}

.submit-button,
.verify-btn,
.forgot-password-button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.2s;
  outline: none;
}

.submit-button {
  background-color: #5cb85c;
}

.submit-button:hover {
  background-color: #4cae4c;
}

.submit-button:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.verify-btn {
  background-color: #337ab7;
}

.verify-btn:hover {
  background-color: #286090;
}

.forgot-password-button {
  margin-top: 1rem;
  background: none;
  color: #007bff;
  text-decoration: none;
}

.forgot-password-button:hover {
  text-decoration: underline;
}

.error-message {
  color: #d32f2f;
  font-size: 0.875rem;
  margin-top: 1rem;
}


.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.otp-field {
  width: 50px; /* Makes the input square */
  height: 50px; /* Same as width to make it square */
  padding: 0;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  outline: none;
  transition: border-color 0.3s;
}

.otp-field:focus {
  border-color: #5cb85c; /* Highlight color when an otp field is focused */
}
