/* Base container styles */
.reset-container {
  width: 100%;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 8px;
  background: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  text-align: center;
}

/* Title styles */
.reset-title {
  margin-bottom: 30px;
  color: #333;
  font-size: 24px; 
}

/* Form styles */
.reset-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Ensure full width */
}

/* Form input styles */
.reset-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

/* Submit button styles */
.reset-submit-button {
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  width: 100%;
}

.reset-submit-button:hover {
  background-color: #45a049;
}


/*----------------------------------------------*/

/* Input field styling */
.input-field {
  width: 100%; 
  padding: 15px; 
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

/* Button styling */
.submit-button {
  padding: 12px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease-in-out;
}

.submit-button:hover {
  background-color: #43A047; 
}

/* Error message styling */
.error-message {
  color: #d9534f;
  margin-top: 10px; 
  font-size: 14px;
  text-align: center;
}
/*---------------------------------------------------*/
/* Error message styles */
.error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

/* OTP input styles */
.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.otp-field {
  width: 50px;
  height: 50px;
  padding: 0;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  outline: none;
  transition: border-color 0.3s;
}

.otp-field:focus {
  border-color: #5cb85c;
}

/* Link text styles, if applicable */
.forgot-password-text {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
}

/* Ensure all text inputs and buttons have a consistent style */
input[type='text'],
input[type='password'],
input[type='email'],
button {
  margin-bottom: 0%;
  margin-left: 0%;
}
