/* DeletePostsPage.css */

.delete-container {
    display: grid;
    grid-template-columns:  auto ;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    grid-template-areas:
      " delete-blog-content "
      " delete-buttons ";
    margin-bottom: 20px;
    max-height: 90vh; /* Adjust the value according to your needs */
    /*overflow-y: auto;*/
}

.delete-blog {
    width: 100%; /* Adjust the width to take the full width of the modal */
    max-height: 100%;
    margin: 0;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    grid-area: delete-blog-content;
}

.delete-blog h1 {
    text-align: center;
    color: #333;
}

.delete-message {
    text-align: center;
    color: red;
    margin: 20px 0;
}

.delete-post-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      "checkbox delete-title"
      "checkbox delete-content"
      "checkbox delete-author-date";
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    align-items: center;
}

.delete-post-container input[type="checkbox"] {
    grid-area: checkbox;
    margin-right: 10px;
    transform: scale(1.5);
}

.delete-post-title {
    grid-area: delete-title;
}

.delete-post-content {
    grid-area: delete-content;
    font-size: 1em;
    line-height: 1.6;
    color: #333;
}

.delete-author-date {
    display: flex;
    grid-area: delete-author-date;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.delete-post-author {
    margin: 0;
    color: #c62626;
    font-size: 0.9em;
}

.delete-post-date {
    margin: 5px 0;
    color: #a2a2a2;
    font-size: 0.9em;
}

.delete-blog-buttons {
    grid-area: delete-buttons;
    display: flex;
    gap: 10px;
    padding: 20px;
}

.create-post-button, .delete-action-button {
    background-color: #2c3e50; 
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 8px 16px;
    font-size: 0.875rem;
    margin-left: auto; /* This will push the button to the right */
}

.delete-action-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.875rem;
    margin-left: 0;
}

.delete-action-button:hover {
    background-color: #c0392b;
}

@media (max-width: 768px) {
    .delete-blog {
        margin: 20px;
    }
}
