.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center; /* This keeps the modal content vertically centered */
  justify-content: center; /* This keeps the modal content horizontally centered */
  z-index: 1000; /* Ensure it's above other content */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: 50%; /* You might want to adjust this depending on your design needs */
  max-width: 500px; /* Or 'none' if you want to make it more responsive */
  max-height: 80vh; /* This will limit the height of the modal */
  overflow-y: auto; /* This adds scroll to the modal content if it's too long */
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 1.5rem;
}
